Repository Azrilardian/iav-fe-assessment: changes, and which lefthook commands are due for each by the changed paths.
All: 1-tsc-compilation, 2-linting, 3-formatting

1-tsc-compilation:
  skip: true
  run: bun tsc-files --noEmit --pretty {staged_files}

2-linting:
  run: bun eslint {staged_files} --fix && git add {staged_files}

3-formatting:
  run: bun prettier --write {staged_files} && git add {staged_files}

feat(products): implement product listing and detail pages with filtering, image handling, and product addition functionality; enhance API integration for product management
  app/(main)/products/[productId]/_components/product-details/components/product-summary/index.tsx
  app/(main)/products/[productId]/_components/product-details/components/product-summary/product-summary-skeleton.tsx
  app/(main)/products/[productId]/_components/product-details/hook.ts
  app/(main)/products/[productId]/_components/product-details/index.tsx
  app/(main)/products/[productId]/_components/product-images/components/product-image-cards/index.tsx
  app/(main)/products/[productId]/_components/product-images/components/product-image-cards/product-image-card-skeleton.tsx
  app/(main)/products/[productId]/_components/product-images/components/product-image-cards/product-image-card.tsx
  app/(main)/products/[productId]/_components/product-images/components/product-image-cards/types.ts
  app/(main)/products/[productId]/_components/product-images/components/product-image-main/index.tsx
  app/(main)/products/[productId]/_components/product-images/components/product-image-main/product-image-main-skeleton.tsx
  app/(main)/products/[productId]/_components/product-images/components/product-image-main/types.ts
  app/(main)/products/[productId]/_components/product-images/hook.ts
  app/(main)/products/[productId]/_components/product-images/index.tsx
  app/(main)/products/[productId]/page.tsx
  app/(main)/products/_components/products-filter/components/products-filter-categories/index.tsx
  app/(main)/products/_components/products-filter/components/products-filter-categories/types.ts
  app/(main)/products/_components/products-filter/hook.ts
  app/(main)/products/_components/products-filter/index.tsx
  app/(main)/products/_components/products-header/index.tsx
  app/(main)/products/add/_components/add-product-form/components/product-categories/hook.ts
  app/(main)/products/add/_components/add-product-form/components/product-categories/index.tsx
  app/(main)/products/add/_components/add-product-form/hook.ts
  app/(main)/products/add/_components/add-product-form/index.tsx
  app/(main)/products/add/_components/add-product-form/scheme.ts
  app/(main)/products/add/page.tsx
  app/(main)/products/page.tsx
  app/(main)/products/product-added/page.tsx
  src/services/swr/hooks/use-product-categories.ts
  src/services/swr/hooks/use-product.ts
  src/services/swr/hooks/use-products-by-category.ts
  src/services/swr/hooks/use-products.ts
  src/services/swr/models/products.computed.ts
  src/services/swr/models/products.types.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

docs(README): overhaul project documentation to provide an overview, features, prerequisites, installation instructions, and contribution guidelines; enhance clarity and structure
  README.md
Due: 3-formatting

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: 3-formatting

chore(workflows): add 'main' branch to code completeness tests and remove outdated deployment workflows for production and staging
  .github/workflows/code_completeness_tests.yml
  .github/workflows/deploy_to_production.yml
  .github/workflows/deploy_to_staging.yml
Due: none

refactor(env): update environment variable references to use NEXT_PUBLIC prefix for API and Sentry configurations
  next.config.ts
  src/config/env.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: 3-formatting

style(product-card): enhance product card image styling by adding a wrapper for layout flexibility and adjusting image width to full
  src/assets/styles/components/_product-card-image.scss
Due: 3-formatting

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: 3-formatting

fix(middleware): correct API base URL in authentication fetch request by removing trailing slash
  middleware.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(product-cards): adjust skeleton loading component to display fewer items on mobile devices
  src/components/product-cards/product-cards-skeleton.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: 3-formatting

feat(products): correct typo in page title from "Our Productss" to "Our Products"
  app/(main)/products/page.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: 3-formatting

Path conditions:
  1-tsc-compilation: any of: *.{ts,tsx}
  2-linting: any of: *.{js,ts,tsx}
  3-formatting: any of: *.{js,ts,tsx,css,scss,md,json}
